{% extends 'app1/base.html' %}
{% load i18n %}
{% block subtitle %}{{obj}}{% endblock %}

{% block extra-head %}
<meta name="keywords" content="{{obj}},{{ g_blog.title }},{{ g_blog.keywords }}" />
<meta name="description" content="{{obj}},{{ g_blog.description }}" />
{% endblock %} 

{% block content_main %}
<div class="yui-b">
<div class="yui-g" id="articlelist_top">
    <h2 title="{{obj|safe}}">{{obj|safe}}</h2>
    <div class="articlelist_ad">
    <script type="text/javascript"><!--
	google_ad_client = "ca-pub-5012078247778040";
	/* 列表页顶部横幅 */
	google_ad_slot = "5318556895";
	google_ad_width = 728;
	google_ad_height = 90;
	//-->
	</script>
	<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
	</div>
</div>

<div class="yui-g">

<div id="con_articlelist">
<ul>
{%for each in cur_articlelist%}{%if each%}
{% if forloop.last %}
<div class="articlelist_ad1">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-5012078247778040";
/* 列表底部链接单元 */
google_ad_slot = "5999248273";
google_ad_width = 728;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
{% endif %}
<li>
<h3><a href="{{each.get_absolute_url}}" title="{{each.title|safe}}">{{each.title|safe}}</a></h3>
<p class="abstract">{{each.abstract|safe}}</p>
<p>{% trans "Category:" %} <a href="{{each.category.get_absolute_url}}" title="{{each.category.name}}">{{each.category.name|safe}}</a>&nbsp&nbsp{%if each.tags%}{% trans " Tags" %}: {%for tag in each.tags%}<a href="{% url app1.views.tag_article tag %}" title="{{tag}}">{{tag}}</a> {% if not forloop.last %},&nbsp{% endif %}{%endfor%}{%endif%}&nbsp&nbsp{%if obj.original_author %}{% trans " Author:" %} {{obj.original_author|safe}}&nbsp&nbsp{%endif%}{% trans " Date" %}: {{each.pub_time|date:"d/m/Y"}}</p>
<p class="more"><a href="{{each.get_absolute_url}}" rel="nofollow">{% trans "read more..." %}</a></p>
</li>{%endif%}
{% if forloop.first %}
<div class="articlelist_ad1">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-5012078247778040";
/* 列表顶部链接单元 */
google_ad_slot = "4469162233";
google_ad_width = 728;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
{% endif %}

{%endfor%}
</ul>
{%if pagination_div%}{{ pagination_div|safe }}{%endif%}
</div>

</div>
<div class="articlelist_ad">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-5012078247778040";
/* 列表底部横幅 */
google_ad_slot = "6909027565";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
</div>

{% endblock %}
