{% extends 'base.html' %}
{% load cache %}
{% load i18n %}
{% block title %}{% block subtitle %}{% endblock %}{% endblock %}

{% block nav %}
<li class="curselect"><a href="{% url app1.views.index %}" title="Finance Guider">Home</a></li>
{%for each in all_categories%}
<li class="curselect"><a href="{{each.get_absolute_url}}" title="{{each.name|safe}}">{{each.name|safe}}</a></li>
{%endfor%}

{% endblock %}

{% block searchbox %}
<div class="searchbox">
	<form action="http://www.google.com/cse" target="_blank" id="cse-search-box">
		<div>
	    <input type="hidden" name="cx" value="{% if g_blog.google_cse_cx %}{{g_blog.google_cse_cx|safe}}{% else %}009677936332633277893:-nyho-cdiwa{% endif %}" />
	    <input type="hidden" name="ie" value="UTF-8" />
	    <input type="text" name="q" size="26" />
	    <input type="submit" name="sa" value="{% trans ' Google ' %}" />
		</div>
	</form>
</div>
{% endblock %}

{% block content %}
<div id="yui-main">
    {% block content_main %}{% endblock %}
</div>

<div class="yui-b" id="sidebar">
{% if user.is_superuser %}
<div class="wrap_top">
<h2>{% trans "Administration" %}</h2>
<ul class="wrap_list">
<li><a href="{% url app1.views.add_article %}">{% trans "Add Article" %}</a></li>
<li><a href="{% url app1.views.myarticles %}">{% trans "My articles" %}</a></li>
<li><a href="{% url app1.views.lastcomments %}">{% trans "Recent comments" %}</a></li>
<li><a href="/admin/app1/">{% trans "Django administration" %}</a></li>
</ul>
</div>
{%endif%}


{%if g_blog.display_ngp%}
<div class="wrap_top">
<h2>{% trans "Finance Market" %}</h2>
<script src="http://widgets.macroaxis.com/widgets/url.jsp?t=26&s=FTSE,000001.SS,HSI,N225,NYA,IXIC,GSPC"></script>
</div>
{%endif%}

<div class="wrap_top">
<h2>{% trans "Finance Guider" %}</h2>
<ul class="wrap_list">
{%for each in all_categories%}
<li><a href="{{each.get_absolute_url}}" title="{{each.name|safe}}">{{each.name|safe}}</a></li>{%endfor%}
</ul>
</div>

{%if newcomment_list%}
<div class="wrap_top">
<h2>{% trans "Recent Comments" %}</h2>
<ul class="wrap_list">
{%for each in newcomment_list%}
<li class="comment">{{each.name}}@<a href="{{each.entry.get_absolute_url}}#{{each.key.id}}" title='{{each.message|slice:":100"}}' target="_blank">{{each.entry.title|safe}}</a></li>{%endfor%}
</ul>
</div>
{%endif%}

</div>

{% endblock %}
