{% extends 'base.html' %}
{% load cache %}
{% load i18n %}
{% block title %}{% block subtitle %}{% endblock %}{% endblock %}

{% block nav %}
<li class="curselect"><a href="{% url app1.views.index %}" title="Finance Guider">Home</a></li>
{%for each in all_categories%}
<li class="curselect"><a href="{{each.get_absolute_url}}" title="{{each.name|safe}}">{{each.name|safe}}</a></li>
{%endfor%}

{% endblock %}

{% block searchbox %}
<div class="searchbox">
	<form action="http://www.google.com/cse" target="_blank" id="cse-search-box">
		<div>
	    <input type="hidden" name="cx" value="{% if g_blog.google_cse_cx %}{{g_blog.google_cse_cx|safe}}{% else %}009677936332633277893:-nyho-cdiwa{% endif %}" />
	    <input type="hidden" name="ie" value="UTF-8" />
	    <input type="text" name="q" size="26" />
	    <input type="submit" name="sa" value="{% trans ' Google ' %}" />
		</div>
	</form>
</div>
{% endblock %}

{% block content %}
<div id="yui-main">
    {% block content_main %}{% endblock %}
</div>

<div class="yui-b" id="sidebar">
{% if user.is_superuser %}
<div class="sidebar_block">
<h2>{% trans "Administration" %}</h2>
<ul class="sidebar_list">
<li><a href="{% url app1.views.add_article %}">{% trans "Add Article" %}</a></li>
<li><a href="{% url app1.views.myarticles %}">{% trans "My articles" %}</a></li>
<li><a href="{% url app1.views.lastcomments %}">{% trans "Recent comments" %}</a></li>
<li><a href="/admin/app1/">{% trans "Django administration" %}</a></li>
</ul>
</div>
{%endif%}

<div class="sidebar_block">
<h2>{% trans "Tags" %}</h2>
<ul class="sidebar_list">
{%for each in popular_tags%}
<a href="{% url app1.views.tag_article each %}"  class = "size-{{ each.style }}" title="{{each|safe}}" >{{each|safe}}</a>
{%endfor%}
</ul>
</div>

{%if g_blog.display_ngp%}
<div class="sidebar_block">
<h2>{% trans "Finance Market" %}</h2>
<script src="http://widgets.macroaxis.com/widgets/url.jsp?t=26&s=FTSE,000001.SS,HSI,N225,NYA,IXIC,GSPC"></script>
</div>
{%endif%}

{%if newcomment_list%}
<div class="sidebar_block">
<h2>{% trans "Recent Comments" %}</h2>
<ul class="sidebar_list">
{%for each in newcomment_list%}
<li class="comment">{{each.name}}@ <a href="{{each.entry.get_absolute_url}}#{{each.key.id}}" title='{{each.message|slice:":100"}}' target="_blank">{{each.entry.title|safe}}</a></li>{%endfor%}
</ul>
</div>
{%endif%}
</div>
{% endblock %}

{% block searchbox2 %}
<div class="searchbox2">
	<form action="http://www.google.com/cse" id="cse-search-box" target="_blank">
  	<div>
	    <input type="hidden" name="cx" value="partner-pub-5012078247778040:2801037459" />
	    <input type="hidden" name="ie" value="UTF-8" />
	    <input type="text" name="q" size="55" />
	    <input type="submit" name="sa" value=" Search " />
  	</div>
	</form>
	<div id="queries"></div>
</div>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">google.load("elements", "1", {packages: "transliteration"});</script>
<script type="text/javascript" src="http://www.google.com/cse/t13n?form=cse-search-box&t13n_langs=en"></script>
<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
{% endblock %}

{% block analytics %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25165123-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>{% endblock %}