body {background-color:#F4F2E0;}
a {text-decoration:None;color:#5d5b46;}
a:hover {color:#000;text-decoration:underline;}
#hd {background: #212121 10px center no-repeat;margin-bottom:10px;}
#hd h1{color:#f9f7d1;margin:15px 15px 15px 15px;}
#hd h1 a{color:#ddd;}
#hd h1 a:hover{color:#fff;text-decoration:none;}
#hd h1 em{color:#ccc;font-size:small;}
#hd #headtop {padding:3px 10px 3px; color:#ccc; border-top:2px solid #e50000; border-left:2px solid #e50000;border-bottom:1px solid #4c0000; background:#800000 url('/media/images/head-bg.gif') top center repeat-x;text-align:right;}
#hd #headtop a {color:#fff;}
#hd #headtop a:hover {text-decoration:underline;}
#hd .nav {color:#fff;float:left;list-style-type: none;margin: 0px;padding: 0px;height: 29px;line-height: 25px;border:None;}
#hd .nav li {display: block;padding: 0px;float: left;margin-right:5px;color:#ccc; border-top:2px solid #e50000;border-left:2px solid #e50000; border-bottom:2px solid #4c0000; background:#800000 url('/media/images/head-bg.gif') top center repeat-x;}
#hd .nav li a {display: block;padding: 0px 15px 0px 15px;text-decoration: none;color: #eee;font-size: 13px;font-weight: 600;}
#hd .nav li a:hover {color: #fff;background: #cb1b1b;}
#hd .nav .curselect {color: #fff;background: #cb1b1b;}
#hd .searchbox {float: right;margin-right:5px;}

#bd {margin-bottom:10px;}
#bd h2 {color:#ccc;margin:0px;padding:3px 0px 3px 8px;font-size:large;}
#bd h2 a{color:#d80000;}
#bd h2 a:hover{color:#7E0202;text-decoration:none;}

#bd #yui-main {margin-top:0px;}

#ggad_index {text-align:center;margin-bottom:10px;}
#ggad_index2 {text-align:center;margin-bottom:10px;}

.yui-g {margin-bottom:0px;}
.cate {margin-bottom:10px;background:url(/media/images/bodybottombg.gif) 0 0 no-repeat #FEFDF0;
border-bottom:1px solid #CDCAA3; border-left:1px solid #CDCAA3; border-right:1px solid #CDCAA3;}
#bd .cate h2 {color:#d80000;margin:3px;padding:12px 0px 8px 12px;font-size:large;}
#bd .cate h2 a {color:#d80000;margin:4px;padding:12px 0px 8px 8px;font-size:large;}
#bd .cate h2 a:hover {color:#7E0202;text-decoration:none;}
.yui-g ul {margin:0px 0px 0px 0px;padding:8px 0px 0px 0px;}
.yui-g .even {margin-bottom:0px;}
.yui-g .odd {margin-bottom:0px;}

.yui-g .odd li,
.yui-g .even li{list-style:none;
BACKGROUND: url(/media/images/arrow.gif) no-repeat left center;padding-left:16px;margin:0px 0px 7px 14px;
width: 87%;
white-space:nowrap;
text-overflow:ellipsis;
-o-text-overflow:ellipsis;
overflow: hidden;
}
.yui-g .odd li a,
.yui-g .even li a {color:#5d5b46;}
.yui-g .odd li a:hover,
.yui-g .even li a:hover {text-decoration:underline;color:#000;}

#conmain_index {}

#artlist_top {background:url(/media/images/articletopbg.gif) 0 0 no-repeat #FEFDF0;border-left:1px solid #CDCAA3; border-right:1px solid #CDCAA3;border-bottom:1px solid #CDCAA3;margin-bottom:0px;padding-bottom:0px;}
#artlist_top h2{margin:3px;padding:12px 0px 20px 12px;font-size:large;color:#d80000;}

#bbsartlist_top {background:url(/media/images/articletopbg.gif) 0 0 no-repeat #FEFDF0;border-left:1px solid #CDCAA3; border-right:1px solid #CDCAA3;border-bottom:1px solid #CDCAA3;margin-bottom:10px;padding-bottom:4px;}
#bbsartlist_top h2{margin:3px;padding:12px 0px 20px 12px;font-size:large;color:#d80000;}

#articletop {background:url(/media/images/articletopbg.gif) 0 0 no-repeat #FEFDF0;border-left:1px solid #CDCAA3; border-right:1px solid #CDCAA3;margin-bottom:10px;padding-bottom:0px;}

blockquote {border-left:2px solid #CDCAA3;font-style:normal;line-height:120%;padding-left:8px;margin:20px 30px 0px 30px;}
#articletop h2 {color:#d80000;margin:3px;padding:12px 0px 8px 12px;font-size:large;
width: 96%;
white-space:nowrap;
text-overflow:ellipsis;
-o-text-overflow:ellipsis;
overflow: hidden;
}

#contenct {background-color:#FEFDF0;padding:0px 30px 10px 30px;margin-bottom:0px;border-bottom:1px solid #CDCAA3;line-height:160%;}
#contenct a {text-decoration:none;color:#7E0202;}
#contenct a:hover {text-decoration:underline;color:#d80000;}
#contenct ul {margin-left:20px;}
#contenct ul li {margin-bottom:6px;}

#bbscontenct {background-color:#FEFDF0;padding:0px 10px 10px 10px;margin-bottom:0px;border-bottom:1px solid #CDCAA3;line-height:160%;}
#bbscontenct a {text-decoration:none;color:#7E0202;}
#bbscontenct a:hover {text-decoration:underline;color:#d80000;}
#bbscontenct ul {margin-left:20px;}
#bbscontenct ul li {margin-bottom:6px;}
#bbscontenct .author {background-color:#f2f0dc;float:left;margin:0px;font-weight:bold;padding:0px 10px 0px 10px;line-height:160%;width:80px;}
#bbscontenct .artcon {float:left;margin:0px 0px 0px 10px;padding:0px;width:81%;}

#con_articlelist ul li {list-style:none;margin-bottom:8px;padding:18px 18px 8px 0px;background:url(/media/images/articletopbg.gif) 0 0 no-repeat #FEFDF0;padding-left:24px;border-bottom:1px solid #CDCAA3; border-left:1px solid #CDCAA3; border-right:1px solid #CDCAA3;}
#con_articlelist h3 {BACKGROUND: url(/media/images/arrow.gif) no-repeat left center;padding:2px 2px 2px 14px ;
width: 94%;
white-space:nowrap;
text-overflow:ellipsis;
-o-text-overflow:ellipsis;
overflow: hidden;
}
#con_articlelist h3 a{color:#5d5b46;font-size:large;}
#con_articlelist h3 a:hover{color:#7E0202;text-decoration:none;}
#con_articlelist p.more {text-align:right;margin:0px 15px 0px 0px;}
#con_articlelist p.more a{color:#D80000;font-weight:bold; text-decoration:none;}
#con_articlelist p.more a:hover{color:#7E0202; text-decoration:none;}

#postcomment {margin:0px;}

#articlebot {margin-top:10px;}
#articletop .comments {margin:10px 20px 10px 20px;list-style:none;}
#articletop .comments li{border-bottom:1px solid #CDCAA3;width:100%;float:left;margin-bottom:10px;}
#articletop .comments li .messageh3 {float:left;}
#articletop .comments li .message {float:left;margin:0px 10px 10px 10px;padding-left:10px;width:80%;line-height:160%;}

#artlist_top h2 .addpost {color:#880;BACKGROUND: url(/media/images/icon_addlink.gif) no-repeat left center;padding-left:15px;margin-left:10px;}
#artlist_top h2 .addpost:hover{color:#800;text-decoration:none;}

#bbsartlist_top h2 .addpost {color:#880;BACKGROUND: url(/media/images/icon_addlink.gif) no-repeat left center;padding-left:15px;margin-left:10px;}
#bbsartlist_top h2 .addpost:hover{color:#800;text-decoration:none;}

div.pagination {padding:8px 0px 8px 0px;margin-bottom:0px;width:100%;text-align:center;float:left;font-size:10px;background-color:#FEFDF0;border-bottom:1px solid #CDCAA3;}
div.pagination a {padding: 2px 5px 2px 5px;margin-right: 2px;border: 1px solid #ddd;text-decoration: none; color: #d8325d;}
div.pagination a:hover, div.pagination a:active {border:1px solid #ddd;color: #fff;background-color: #d8325d;}
div.pagination span.current {padding: 2px 5px 2px 5px;margin-right: 2px;border: 1px solid #ddd;font-weight: bold;background-color: #d8325d;color: #FFF;}
div.pagination span.disabled {padding: 2px 5px 2px 5px;margin-right: 2px;border: 1px solid #ddd;color: #ccc;}

.bbsartlist {margin:0px;padding:8px 0px 8px 0px;}
.bbsartlist h3 {padding:0px;margin:0px 0px 0px 0px;font-size:small;height:20px;}
.bbsartlist h3 .title2 {padding:4px 0px 4px 0px;float:left;display:block;
width: 50%;
white-space:nowrap;
text-overflow:ellipsis;
-o-text-overflow:ellipsis;
overflow: hidden;
}
.bbsartlist h3 {vertical-align:middle;}
.bbsartlist em {float:right;padding:2px;margin-right:2px;color:#999;display:inline;font-size:smaller;}
.bbsartlist li {list-style:none;BACKGROUND: url(/media/images/arrow.gif) no-repeat left center;padding:4px 4px 4px 12px;margin:0px 4px 0px 4px;border-bottom:1px dotted #CDCAA3;}
.bbsartlist li:hover {background-color:#f2f0dc;}

.artlist_ggad {text-align:center;}

#sidebar {margin-top:0px;}
#sidebar a {color:#5d5b46;}
#sidebar a:hover {text-decoration:underline;color:#000;}
#sidebar .wrap_top {background:url(/media/images/siderbg.gif) 0 0 no-repeat #FEFDF0;margin-bottom:10px;border-bottom:1px solid #CDCAA3; border-left:1px solid #CDCAA3; border-right:1px solid #CDCAA3;}
#sidebar .wrap_top h2 {color:#d80000;margin:0px,3px,3px,3px;padding:12px 0px 8px 12px;font-size:large;}
#sidebar .wrap_list {margin-left:6px;padding:8px 0px 0px 0px;}
#sidebar .wrap_list li {list-style:none;BACKGROUND: url(/media/images/left_menu_bullet.gif) no-repeat left center;padding-left:14px;margin-bottom:7px;}
#sidebar .wrap_list a:hover {text-decoration:underline;color:#d80000;}
#sidebar .wrap_list a.size-1 { font-size: 1.2em; font-weight:bold; color:888888;}
#sidebar .wrap_list a.size-2 { font-size: 1.4em; font-weight:bold; color:888888;}
#sidebar .wrap_list a.size-3 { font-size: 1.6em; font-weight:bold; color:888888;}
#sidebar .wrap_list a.size-4 { font-size: 1.8em; font-weight:bold; color:888888;}
#sidebar .wrap_list a.size-5 { font-size: 2.0em; font-weight:bold; color:888888;}
#sidebar .wrap_list a.size-6 { font-size: 2.2em; font-weight:bold; color:888888;}
#sidebar .wrap_list .comment {list-style:none;BACKGROUND: url(/media/images/icon_comments.gif) no-repeat left center;padding-left:16px;margin-bottom:7px;
width: 95%;
white-space:nowrap;
text-overflow:ellipsis;
-o-text-overflow:ellipsis;
overflow: hidden;
}
#sidebar .wrap_list .link {list-style:none;BACKGROUND: url(/media/images/link.gif) no-repeat left center;padding-left:18px;margin-bottom:7px;}

#ft {background-color: #3b3b3b;margin:0px;}
#ft p {color:#999;padding:8px;margin:8px;line-height:160%;}
#ft a{color:#ccc;}
#ft a:hover{color:#fff;text-decoration:underline;}

#np {margin-bottom:10px;height:20px;padding:10px;border-bottom:1px solid #CDCAA3;}
#np .flleft , #np .flright {width: 49%;
white-space:nowrap;
text-overflow:ellipsis;
-o-text-overflow:ellipsis;
overflow: hidden;
}
#np .flright {text-align:right;}
.clear {clear:both;}
.flleft {float:left;margin-bottom:10px;}
.flright {float:right;margin-bottom:10px;}
.bbsclear {height:1px;clear:both;border-bottom:1px solid #CDCAA3;padding:10px 0px 0px 0px;margin:0px 0px 10px 0px;}
.date {margin:0px 0px 8px 0px;padding:0px 0px 2px 0px;color:#999;background-color:#f2f0dc;}
.signtext {margin:0px;padding:0px;border-top:1px dotted #CDCAA3;color:#999;}
.messagecon {min-height:52px;}
.permalink {background-color:#f2f0dc;}